
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
#Nuget packages folder
packages/
# Зависимости (самая тяжелая папка)
node_modules/

# Результат сборки
dist/
build/

# Локальные переменные
.env
.env.local

# Логи и кэш
npm-debug.log*
yarn-error.log*
.eslintcache

# Папки редакторов
.vscode/
.idea/